<!-- HTMl section for main home page -->

<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href='/css/home.css'>  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <h1 style="text-align: center; color: azure"> To-Do List</h1>
        <div class="form_class">
            <form action="/create_todo" method="POST">
                <div class="desc_Class">
                    <input type="text"  name="desc" placeholder="What do you need to do?" required> 
                </div>
                <div class="select_and_input">
                    <select name="category" required>
                        <option value="" disabled selected>Choose a category</option>
                        <option>Personal</option>
                        <option>Work</option>
                        <option>Cleaning</option>
                        <option>Others</option>
                    </select>
                <input class="datesValues" type="date" value="31-Mar-2023" name="dateValue" placeholder="Select date " required>
                </div>

                <button class="buttonDesign colorGrey" id="submitButton" type="submit"><i class="fa fa-plus-square" > </i> Add Task</button>
                <button class="buttonDesign colorRed" id="deleteButton" type="submit"><i class="fa fa-trash-o"></i> Delete Tasks</button>
      
            </form>
                 
        </div>

<!-- for displaying TODO lists -->
        <div>
            <% for(let i of todoList) { let j=0; let newIds='descids'+j; %>
                <div class="singleTask">
                    <input type="checkbox" name="description_checkbox" class="description_checkbox" onclick="checkedOrNot()" uid = <%= i._id %> >
                    <div class="name_and_dueDate">
                        <!-- <p> <%= i.description %></p> -->
                        <!-- <p> <%= i.date %></p> -->
                         <p id=<%= i._id %> uid = <%= i._id %> class="description_display"> <%= i.description %> </p>
                        <!-- <p id=<%= i._id + i.dueDate %> class="dueDate"  ><%= i.dueDate %></p> -->
                    </div>
                    <div class="catesec">
                        <%= i.category %>
                    </div>
                        <!-- <div class="editClass"><a href="/editdata/?id=<%=i._id %>">Edit</a></div> -->
                </div>
                <% j++; } %>
 
        </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/home.js"></script>
    </body>
</html>
        
    
   